@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Monoton&family=Press+Start+2P&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  font-family: 'Monoton', cursive;
  font-size: 1.6rem;
}

h1 {
  font-family: "Roboto";
}

@media only screen and (max-width: 700px) {
  html, body {
    font-size: 1em;
  }  
}
@media only screen and (max-width: 600px) {
  html, body {
    font-size: 0.8em;
  }  
}
@media only screen and (max-width: 500px) {
  html, body {
    font-size: 0.6em;
  }  
}
@media only screen and (max-width: 400px) {
  html, body {
    font-size: 0.4em;
  }  
}
@media only screen and (max-width: 300px) {
  html, body {
    font-size: 0.3em;
  }  
}